body {
    font-family: sans-serif;
    margin: 0px;
}

.main-content1 {
    text-align: center;

    p{
        font-size: 28px;
    }

    img{
        width: 317px;
        height: 111px;
    }
}
