body {
    font-family: sans-serif;
    margin: 0px;
}

.main-content1 {
    text-align: center;
    width: 100%;
    height: 499px;
    background-image: url(../img/main1.jpg);
    background-size: cover;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1.2px;
    color: #333333;
    font-family: Meiryo, MS PGothic, sans-serif;

    :first-child {
        padding: 92px 0 0 0;
        margin: 0;
        font-size: 28px;
        line-height: 44px;
    }

    :nth-child(2) {
        margin: 11px 0 0 0;
        font-size: 28px;
        line-height: 44px;
    }

    img {
        margin: 11px 0 0 0;
        width: 317px;
        height: 111px;
    }

    :nth-child(4) {
        margin: 40px 0 0 0;
        font-size: 20px;
        line-height: 22px;
    }
}

.main-content2 {
    text-align: center;
    color: #fff;
    background-color: #ebb94d;
    width: 100%;
    height: 604px;

    :first-child {
        margin: 0;
        padding-top: 30px;
        line-height: 32px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }

    :nth-child(2) {
        color: #c7254e;
        line-height: 25px;
        font-size: 12px;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        margin: 12.5px 0 2.5px 0;
        font-family: "MS Gothic";
        letter-spacing: 1.2px;
        background-color: #f9f2f4;
        padding: 1px 2px;
        border-radius: 5px;
    }

    :nth-child(3) {
        background-color: #da6b64;
        margin: 45px 0 0 0;
        line-height: 44px;
        padding: 30px 286px;
        display: inline-block;
        border-radius: 51px;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }

    :nth-child(3):hover {
        background-color: #d84940;
    }

    :nth-child(4) {
        line-height: 33px;
        margin-top: 67px;
        font-size: 18px;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 1px;
    }

    :nth-child(5) {
        line-height: 33px;
        margin-top: 32px;
        font-size: 18px;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 1px;
    }

    :nth-child(6) {
        line-height: 33px;
        margin-top: 32px;
        font-size: 18px;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 1px;
    }
}

.main-content3 {
    width: 100%;
    height: 587px;
    text-align: center;
    background-image: url(../img/main2.jpg);
    background-size: cover;
    $bar-style: solid;
    $bar-size: 4px;
    $bar-color: #ebb94d;

    .massage {
        margin: 40px 0;
        padding: 30px 76px;
        display: inline-block;
        position: relative;
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 1.5px;

        &::before,
        &::after {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
        }

        &::before {
            border-left: $bar-style $bar-size $bar-color;
            border-top: $bar-style $bar-size $bar-color;
            top: 0;
            left: 0;
        }

        &::after {
            border-right: $bar-style $bar-size $bar-color;
            border-bottom: $bar-style $bar-size $bar-color;
            right: 0;
            bottom: 0;
        }
    }

    p {
        font-size: 20px;
        font-weight: 200;
        line-height: 32px;
        margin-bottom: 24px;
        letter-spacing: 1.2px;
        margin-top: 0;
    }

    span {
        display: inline-block;
        line-height: 0.8;
        border-bottom: solid 10px rgb(235, 185, 77);
        font-weight: 600;
        line-height: 20px;
    }

    :nth-child(4) {
        margin-bottom: 0px;
    }

    :nth-child(5) {
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        margin: 0;
        background-color: #ebb94d;
        display: inline-block;
        margin-top: 95px;
        color: white;
        font-size: 14px;
    }
}

.main-content4 {
    height: 645px;
    width: 100%;
    text-align: center;
    background-color: #fef5e0;
    $bar-style: solid;
    $bar-size: 4px;
    $bar-color: #ebb94d;

    .massage {
        margin: 80px 0 40px;
        padding: 30px 252px 30px 254px;
        display: inline-block;
        position: relative;
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 1.5px;

        &::before,
        &::after {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
        }

        &::before {
            border-left: $bar-style $bar-size $bar-color;
            border-top: $bar-style $bar-size $bar-color;
            top: 0;
            left: 0;
        }

        &::after {
            border-right: $bar-style $bar-size $bar-color;
            border-bottom: $bar-style $bar-size $bar-color;
            right: 0;
            bottom: 0;
        }
    }

    p {
        line-height: 32px;
        letter-spacing: 1.2px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .introduction-wrapper {
        width: 1170px;
        height: 253px;
        margin: 0 auto;
        box-sizing: border-box;
        border: solid 2px #ebb94d;
        border-radius: 5px;
        background-color: white;

        p {
            margin-top: 32px;
            margin-bottom: 20px;
            letter-spacing: 1.5px;
        }

        .introduction {
            display: flex;
            align-items: flex-end;
            box-sizing: border-box;
            padding: 0 228px 0 228px;

            .contents {
                margin: 0 auto;
            }

            p {
                font-size: 12px;
                font-weight: 200;
                line-height: 18.5px;
                letter-spacing: 1.3px;
                margin: 0;
            }
        }
    }
}

.main-content5 {
    width: 100%;
    height: 441px;
    background-image: url(../img/main3.jpg);
    background-size: cover;
    color: white;
    text-align: center;

    h3 {
        font-size: 28px;
        padding-top: 60px;
        margin: 0;
        line-height: 40px;
        letter-spacing: 1.5px;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 32px;
        letter-spacing: 1.3px;
    }

    :nth-child(3) {
        margin-top: 0;
        margin-bottom: 30px;
    }

    span {
        color: #ebb94d;
        line-height: 30px;
    }

    .contents2-wrapper {
        display: flex;
        justify-content: center;
    }

    .contents2 {
        width: 374px;
        height: 177px;
        background-color: white;
        border-radius: 6px;
        margin: 0 9px 0 9px;

        :first-child {
            font-size: 16px;
            line-height: 25px;
            padding: 0 125px;
            display: inline-block;
            background-color: #ebb94d;
            border-radius: 4px;
            margin-top: 30px;
            margin-bottom: 0;
        }

        :nth-child(2) {
            color: black;
            font-size: 14px;
            margin-top: 30px;
            margin-left: 18px;
            margin-right: 18px;
            margin-bottom: 0;
            line-height: 22px;
        }

        :nth-child(3) {
            color: black;
            font-size: 16px;
            margin-top: 15px;
        }
    }
}

.main-content6 {
    background-color: #016ea9;
    text-align: center;
    color: white;

    p {
        padding: 40px 0;
        line-height: 32px;
        font-size: 20px;
        letter-spacing: 1.5px;
        font-weight: 600;
        margin: 0;

        span {
            color: #ebb94d;
            line-height: 30px;
        }
    }
}

.main-content7 {
    width: 100%;
    height: 506px;
    text-align: center;

    :first-child {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.6px;
        line-height: 44px;
        margin: 60px 0 35px 0;

        span {
            font-size: 16px;
        }
    }

    :nth-child(2) {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1.3px;
        line-height: 32px;
        margin: 0 0 40px 0;
    }

    .images {
        display: flex;
        justify-content: center;

        :first-child {
            margin: 0 22px;
        }

        :nth-child(2) {
            margin: 0 22px;
        }

        :nth-child(3) {
            margin: 0 22px;
        }

        :nth-child(4) {
            margin: 0 22px;
        }
    }

    :nth-child(4) {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.5px;
        line-height: 25px;
        margin-top: 40px;
        margin-bottom: 0;
    }
}

.main-content8 {
    text-align: center;
    background-color: #fef5e0;
    padding: 40px 0 50px 0;

    .title {
        width: 860px;
        height: 112px;
        display: inline-block;
        position: relative;
        $bar-style: solid;
        $bar-size: 4px;
        $bar-color: #ebb94d;

        &::before,
        &::after {
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
        }

        &::before {
            border-left: $bar-style $bar-size $bar-color;
            border-top: $bar-style $bar-size $bar-color;
            top: 0;
            left: 0;
        }

        &::after {
            border-right: $bar-style $bar-size $bar-color;
            border-bottom: $bar-style $bar-size $bar-color;
            right: 0;
            bottom: 0;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 1.3px;
            margin: 0 0 0 0;
            padding: 0 50px;
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 1.5px;
            margin: 0 0 0 0;
        }
    }

    .contents3-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;


        .contents3 {
            width: 360px;
            margin: 0 15.5px;

            img {
                width: 360px;
                height: 180px;
            }

            h3 {
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                color: #ebb94d;
                text-align: left;
                line-height: 30px;
                letter-spacing: 1.5px;
            }

            p {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 300;
                line-height: 25.5px;
                padding: 0;
                text-align: left;
                letter-spacing: 1.5px;
            }
        }
    }

    .text2 {
        display: inline-block;
        margin: 40px auto 0;
        padding: 40px 0 40px 0;
        background-color: white;
        border: 2px solid #ebb94d;
        width: 1170px;
        border-radius: 5px;

        h3 {
            font-size: 28px;
            color: #ebb94d;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 1.5px;
        }

        :nth-child(2) {
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
            margin: 10px 0 0 0;
            letter-spacing: 1.5px;
        }

        :nth-child(3) {
            font-size: 16px;
            font-weight: 600;
            line-height: 25.3px;
            margin: 10px 0 0 0;
            letter-spacing: 1.5px;
        }
    }
    .massage2{
        margin: 40px 0 0 0;
        line-height: 22px;
        font-size: 14px;
    }
}
