@charset "UTF-8";
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  margin: 0px;
  padding-top: 75px;
}

.container {
  padding: 0;
  margin: 0;
}

.header-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  height: 75px;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: white;
}

.header {
  margin: 0 auto;
  padding: 14px 0 26px 0;
  max-width: 1170px;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-left img {
  width: 128px;
  height: 44.65px;
}

.header .header-left p {
  width: 263.5px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 21px 0 0 6px;
  letter-spacing: 1.5px;
}

.header .header-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #da6b64;
  padding: 11px 38px 9px 39px;
  background-color: #da6b64;
  border-radius: 25px;
  width: 317px;
  height: 44px;
  margin-top: 2px;
}

.header .header-right:hover {
  background-color: #d84940;
  cursor: pointer;
}

.header .header-right p {
  text-align: right;
  color: #fff;
  letter-spacing: 1.5px;
  margin: 0;
  display: inline-block;
}

.header .header-right a {
  font-size: 0;
}

.header .header-right img {
  width: 0;
  height: 0;
}

@media screen and (max-width: 1190px) {
  body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    margin: 0px;
    padding-top: 75px;
  }
  .header-wrapper {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
  }
  .header {
    margin: 0 auto;
    padding: 14px 0 10px 0;
    width: calc(100% - 20px);
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
  }
  .header .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-left img {
    width: 128px;
    height: 44.65px;
  }
  .header .header-left p {
    width: 263.5px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    display: inline-block;
    margin: 23px 0 0 6px;
  }
  .header .header-right {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    height: 41px;
    border: 1px solid #da6b64;
    padding: 10px 38px 11px 39px;
    background-color: #da6b64;
    border-radius: 25px;
    width: 261px;
    margin-top: 2px;
  }
  .header .header-right:hover {
    background-color: #d84940;
    cursor: pointer;
  }
  .header .header-right p {
    text-align: right;
    color: #fff;
    letter-spacing: normal;
    margin: 0;
    display: inline-block;
  }
  .header .header-right a {
    font-size: 0;
  }
  .header .header-right img {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    margin: 0px;
    padding-top: 62px;
  }
  .header-wrapper {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    height: 62px;
  }
  .header {
    margin: 0 auto;
    padding: 8px 0 0px 0;
    width: calc(100% - 20px);
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    position: relative;
  }
  .header .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header .header-left img {
    width: 90px;
    height: 31.39px;
    margin-bottom: 5.5px;
  }
  .header .header-left p {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    letter-spacing: normal;
    line-height: 17px;
  }
  .header .header-right {
    width: 76px;
    padding: 0;
    height: 61px;
    margin: 0;
    border-radius: 0;
    background-color: #da6b64;
    position: absolute;
    top: 0;
    right: -10px;
  }
  .header .header-right:hover {
    background-color: #da6b64;
  }
  .header .header-right p {
    font-size: 0;
  }
  .header .header-right img {
    width: 20px;
    height: 24.8px;
    position: absolute;
    top: 8.5px;
    right: 27px;
  }
  .header .header-right a {
    font-size: 12px;
    color: white;
    letter-spacing: 1.5px;
    position: absolute;
    top: 33px;
    right: 10px;
  }
  .header .header-right a:hover {
    -webkit-text-decoration: underline white;
            text-decoration: underline white;
  }
  .header .header-right a:focus {
    -webkit-text-decoration: underline white;
            text-decoration: underline white;
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .header .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header .header-left p {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    letter-spacing: normal;
    line-height: 17px;
  }
}

.main-content1 {
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url(../img/main1.jpg);
  background-size: cover;
  background-position: center;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.5px;
  color: #333333;
  font-size: 28px;
}

.main-content1 :first-child {
  padding: 94px 0 0 0;
  margin: 0;
  line-height: 44px;
}

.main-content1 :nth-child(2) {
  margin: 10px 0 0 0;
  line-height: 44px;
}

.main-content1 img {
  margin: 10px 0 0 0;
  width: 317px;
  height: 111px;
  vertical-align: bottom;
}

.main-content1 :nth-child(4) {
  margin: 40px 0 0 0;
  font-size: 20px;
  line-height: 22px;
}

@media screen and (max-width: 1190px) {
  .main-content1 {
    font-size: 24px;
  }
  .main-content1 :first-child {
    padding: 104px 0 0 0;
    margin: 0;
    line-height: 38px;
  }
  .main-content1 :nth-child(2) {
    margin: 10px 0 0 0;
    line-height: 38px;
  }
  .main-content1 img {
    margin: 10px 0 0 0;
    width: 317px;
    height: 111px;
    vertical-align: bottom;
  }
  .main-content1 :nth-child(4) {
    margin: 40px 0 0 0;
    font-size: 16px;
    line-height: 17.6px;
  }
}

@media screen and (max-width: 768px) {
  .main-content1 {
    font-size: 18px;
    height: 312px;
  }
  .main-content1 :first-child {
    padding: 18px 0 0 0;
    margin: 0;
    line-height: 28.8px;
  }
  .main-content1 :nth-child(2) {
    margin: 0;
    line-height: 28.8px;
  }
  .main-content1 img {
    margin: 20px 0 0 0;
    width: 317px;
    height: 111px;
    vertical-align: bottom;
  }
  .main-content1 :nth-child(4) {
    margin: 40px 0 0 0;
    font-size: 15px;
    line-height: 16.5px;
  }
}

.main-content2 {
  text-align: center;
  color: #fff;
  background-color: #ebb94d;
  width: 100%;
  height: 604px;
}

.main-content2 br {
  display: none;
}

.main-content2 .text7 {
  margin: 0;
  padding-top: 30px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.main-content2 .attention {
  margin: 0 auto;
  width: 524.15px;
  height: 25.33px;
}

.main-content2 .text8 {
  color: #c7254e;
  font-family: "MS Gothic";
  background-color: #f9f2f4;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1.5px;
  border-radius: 4px;
  line-height: 25px;
  padding: 0.4px 0;
}

.main-content2 .contact {
  width: 1028px;
  height: 104.7px;
  background-color: #da6b64;
  margin: 45px auto 0;
  border-radius: 51px;
}

.main-content2 .text9 {
  margin: 30px 0 0 0;
  line-height: 44px;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.main-content2 .contact:hover {
  background-color: #d84940;
  cursor: pointer;
}

.main-content2 .text10 {
  line-height: 33.6px;
  margin-top: 67px;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 1.5px;
}

.main-content2 .text11 {
  line-height: 33.6px;
  margin-top: 32px;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 1.5px;
}

.main-content2 .text12 {
  line-height: 33.6px;
  margin-top: 32px;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 1.5px;
  margin-bottom: 27px;
}

.main-content2 .btn2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content2 .btn2 .twitter-share-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-left: 2px;
  margin-top: 0.1px;
}

.main-content2 .btn2 .fb-like {
  line-height: 0;
}

@media screen and (max-width: 1190px) {
  .main-content2 {
    text-align: center;
    color: #fff;
    background-color: #ebb94d;
    width: 100%;
    height: 464px;
  }
  .main-content2 br {
    display: none;
  }
  .main-content2 .text7 {
    margin: 0;
    padding-top: 30px;
    line-height: 25.6px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .main-content2 .attention {
    margin: 0 auto;
    width: 445.67px;
    height: 20.67px;
  }
  .main-content2 .text8 {
    color: #c7254e;
    font-family: "MS Gothic";
    background-color: #f9f2f4;
    font-size: 14.4px;
    font-weight: 600;
    margin: 10px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 1.5px;
    border-radius: 4px;
    line-height: 20px;
    padding: 0.4px 0;
  }
  .main-content2 .contact {
    max-width: 1028px;
    height: 78.7px;
    background-color: #da6b64;
    margin: 10px 80px 0;
    border-radius: 51px;
  }
  .main-content2 .text9 {
    margin: 25px 0 0 0;
    line-height: 28.8px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .main-content2 .contact:hover {
    background-color: #d84940;
    cursor: pointer;
  }
  .main-content2 .text10 {
    line-height: 28.8px;
    margin-top: 29px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .text11 {
    line-height: 28.8px;
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .text12 {
    line-height: 28.8px;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 27px;
  }
  .main-content2 .btn2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content2 .btn2 .twitter-share-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 2px;
    margin-top: 0.1px;
  }
  .main-content2 .btn2 .fb-like {
    line-height: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-content2 {
    height: 493px;
  }
  .main-content2 br {
    display: inline;
  }
  .main-content2 .text7 {
    margin: 0;
    padding-top: 15px;
  }
  .main-content2 .attention {
    margin: 0 auto;
    width: 445.67px;
    height: 20.67px;
  }
  .main-content2 .text8 {
    margin: 10px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 20px;
    padding: 0.4px 0;
  }
  .main-content2 .contact {
    max-width: 591px;
    height: 107.3px;
    background-color: #da6b64;
    margin: 10px auto 0;
    border-radius: 51px;
  }
  .main-content2 .text9 {
    margin: 25px 0 0 0;
    line-height: 28.8px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .contact:hover {
    background-color: #d84940;
    cursor: pointer;
  }
  .main-content2 .text10 {
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .text11 {
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .text12 {
    line-height: 24px;
    margin-top: 26px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 20px;
  }
  .main-content2 .btn2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content2 .btn2 .twitter-share-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 2px;
    margin-top: 0.1px;
  }
  .main-content2 .btn2 .fb-like {
    line-height: 0;
  }
}

@media screen and (max-width: 767px) {
  .main-content2 {
    height: 510px;
  }
  .main-content2 br {
    display: inline;
  }
  .main-content2 .text7 {
    margin: 0;
    padding-top: 15px;
    font-size: 15px;
  }
  .main-content2 .attention {
    margin: 0 auto;
    width: 411px;
    height: 20px;
  }
  .main-content2 .text8 {
    font-size: 13.5px;
    letter-spacing: 1.5px;
    line-height: 21.6px;
    padding: 0.4px 0;
  }
  .main-content2 .contact {
    max-width: 727px;
    height: 94px;
    margin: 27px 20px 0;
  }
  .main-content2 .text9 {
    margin: 15px 0 0 0;
    line-height: 32px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .contact:hover {
    background-color: #d84940;
    cursor: pointer;
  }
  .main-content2 .text10 {
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .text11 {
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .main-content2 .text12 {
    line-height: 24px;
    margin-top: 26px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 27px;
  }
  .main-content2 .btn2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content2 .btn2 .twitter-share-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 2px;
    margin-top: 0.1px;
  }
  .main-content2 .btn2 .fb-like {
    line-height: 0;
  }
}

.main-content3 {
  width: 100%;
  height: 587px;
  text-align: center;
  background-image: url(../img/main2.jpg);
  background-size: cover;
  background-position: center;
}

.main-content3 .small-br {
  display: none;
}

.main-content3 .massage {
  margin: 40px 0;
  padding: 35px 76px 25px;
  display: inline-block;
  position: relative;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1.5px;
}

.main-content3 .massage::before, .main-content3 .massage::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
}

.main-content3 .massage::before {
  border-left: solid 4px #ebb94d;
  border-top: solid 4px #ebb94d;
  top: 0;
  left: 0;
}

.main-content3 .massage::after {
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
  right: 0;
  bottom: 0;
}

.main-content3 p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 24px;
  letter-spacing: 1.5px;
  margin-top: 0;
}

.main-content3 span {
  display: inline-block;
  border-bottom: solid 9px #ebb94d;
  font-weight: 700;
  line-height: 14px;
}

.main-content3 :nth-child(4) {
  margin-bottom: 0px;
}

.main-content3 .circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0;
  background-color: #ebb94d;
  display: inline-block;
  margin-top: 95px;
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 1190px) {
  .main-content3 .massage {
    margin: 40px auto;
    padding: 35px 0 25px;
    display: inline-block;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.5px;
    max-width: 860px;
    width: calc(100% - 40px);
  }
  .main-content3 p {
    font-size: 16px;
    line-height: 25.6px;
  }
  .main-content3 p .small-br {
    display: none;
  }
  .main-content3 span {
    display: inline-block;
    border-bottom: solid 7px #ebb94d;
    font-weight: 700;
    line-height: 10px;
  }
  .main-content3 :nth-child(4) {
    margin-bottom: 0px;
  }
  .main-content3 .circle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0;
    background-color: #ebb94d;
    display: inline-block;
    margin-top: 140px;
    color: white;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .main-content3 {
    height: 674.6px;
    background-position: bottom;
  }
  .main-content3 .massage {
    margin: 30px auto 25px;
    padding: 25px 0 15px;
    width: 713.76px;
  }
  .main-content3 .massage::before, .main-content3 .massage::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-content3 p {
    letter-spacing: normal;
    margin-bottom: 30px;
  }
  .main-content3 p .small-br {
    display: inline;
  }
  .main-content3 p br {
    display: inline;
  }
  .main-content3 .space {
    height: 30px;
  }
  .main-content3 span {
    display: inline-block;
    border-bottom: solid 7px #ebb94d;
    font-weight: 700;
    line-height: 10px;
  }
  .main-content3 :nth-child(4) {
    margin-bottom: 0px;
  }
  .main-content3 .circle {
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: normal;
    margin-top: 50px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .main-content3 {
    height: 674.6px;
    background-position: bottom;
  }
  .main-content3 .massage {
    padding: 25px 0 15px;
    width: 95%;
    font-size: 18px;
  }
  .main-content3 p {
    font-size: 15px;
    letter-spacing: normal;
    margin-bottom: 30px;
    line-height: 24px;
  }
  .main-content3 p .small-br {
    display: inline;
  }
  .main-content3 p br {
    display: inline;
  }
  .main-content3 span {
    display: inline-block;
    border-bottom: solid 7px #ebb94d;
    font-weight: 700;
    line-height: 10px;
  }
  .main-content3 :nth-child(4) {
    margin-bottom: 0px;
  }
  .main-content3 .circle {
    margin-top: 75px;
  }
}

.main-content4 {
  height: 645px;
  width: 100%;
  text-align: center;
  background-color: #fef5e0;
}

.main-content4 .s-br {
  display: none;
}

.main-content4 h1 {
  margin: 20px 0 10px;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1.5px;
}

.main-content4 .massage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 80px auto 40px;
  padding: 15px 30px;
  width: 860px;
  display: inline-block;
  position: relative;
}

.main-content4 .massage::before, .main-content4 .massage::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
}

.main-content4 .massage::before {
  border-left: solid 4px #ebb94d;
  border-top: solid 4px #ebb94d;
  top: 0;
  left: 0;
}

.main-content4 .massage::after {
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
  right: 0;
  bottom: 0;
}

.main-content4 p {
  line-height: 32px;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 0;
}

.main-content4 .introduction-wrapper {
  width: 1170px;
  max-width: calc(100% - 40px);
  height: auto;
  padding: 30px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #ebb94d;
  border-radius: 5px;
  background-color: white;
}

.main-content4 .introduction-wrapper p {
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.main-content4 .introduction-wrapper .introduction {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content4 .introduction-wrapper .introduction .contents {
  padding: 10px 13px 10px;
}

.main-content4 .introduction-wrapper .introduction .contents img {
  vertical-align: bottom;
}

.main-content4 .introduction-wrapper .introduction p {
  margin: 10px 0 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1190px) {
  .main-content4 {
    height: auto;
    padding-bottom: 70px;
  }
  .main-content4 .s-br {
    display: none;
  }
  .main-content4 h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.5px;
  }
  .main-content4 .massage {
    margin: 80px auto 40px;
    width: 860px;
    max-width: calc(100% - 40px);
  }
  .main-content4 p {
    line-height: 25.6px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .main-content4 .introduction-wrapper {
    width: 1170px;
    max-width: calc(100% - 40px);
    height: auto;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 2px #ebb94d;
    border-radius: 5px;
    background-color: white;
  }
  .main-content4 .introduction-wrapper p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
  }
  .main-content4 .introduction-wrapper .introduction {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content4 .introduction-wrapper .introduction .contents {
    padding: 10px 13px 10px;
  }
  .main-content4 .introduction-wrapper .introduction .contents img {
    vertical-align: bottom;
  }
  .main-content4 .introduction-wrapper .introduction p {
    margin: 10px 0 10px;
    font-size: 12px;
    font-weight: 300;
    line-height: 19.2px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 768px) {
  .main-content4 .s-br {
    display: inline;
  }
  .main-content4 .massage {
    margin: 60px auto 15px;
    padding: 10px;
  }
  .main-content4 .massage::before, .main-content4 .massage::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-content4 .introduction-wrapper {
    padding: 10px;
  }
  .main-content4 .introduction-wrapper .s-br {
    display: inline;
  }
  .main-content4 .introduction-wrapper .introduction .contents {
    padding: 5px 7.5px 5px;
  }
  .main-content4 .introduction-wrapper .introduction .contents .contents-image1 {
    width: 32.1px;
    height: 30px;
  }
  .main-content4 .introduction-wrapper .introduction .contents .contents-image2 {
    width: 31.2px;
    height: 30px;
  }
  .main-content4 .introduction-wrapper .introduction .contents .contents-image3 {
    width: 23.9px;
    height: 30px;
  }
  .main-content4 .introduction-wrapper .introduction .contents .contents-image4 {
    width: 31.1px;
    height: 30px;
  }
  .main-content4 .introduction-wrapper .introduction .contents .contents-image5 {
    width: 75px;
    height: 30px;
  }
  .main-content4 .introduction-wrapper .introduction .contents p {
    font-size: 10px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .main-content4 h1 {
    font-size: 18px;
  }
  .main-content4 p {
    font-size: 15px;
    line-height: 24px;
  }
  .main-content4 .introduction-wrapper p {
    font-size: 15px;
    line-height: 24px;
  }
}

.main-content5 {
  width: 100%;
  height: 441px;
  background-image: url(../img/main3.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main-content5 h3 {
  font-size: 28px;
  padding-top: 60px;
  margin: 0;
  line-height: 40px;
  letter-spacing: 1.5px;
}

.main-content5 p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 32px;
  letter-spacing: 1.3px;
}

.main-content5 :nth-child(3) {
  margin-top: 0;
  margin-bottom: 30px;
}

.main-content5 span {
  color: #ebb94d;
  line-height: 30px;
}

.main-content5 .contents2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content5 .contents2 {
  width: 15%;
  /*374px;*/
  height: 177px;
  background-color: white;
  border-radius: 6px;
  margin: 0 9px 0 9px;
}

.main-content5 .contents2 :first-child {
  font-size: 16px;
  line-height: 25px;
  padding: 0 10%;
  /*125px;*/
  display: inline-block;
  background-color: #ebb94d;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 0;
}

.main-content5 .contents2 :nth-child(2) {
  color: black;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 0;
  line-height: 22px;
}

.main-content5 .contents2 :nth-child(3) {
  color: black;
  font-size: 16px;
  margin-top: 15px;
}

.main-content6 {
  background-color: #016ea9;
  text-align: center;
  color: white;
  width: 100%;
  /*img指定なし*/
}

.main-content6 img {
  width: 15%;
}

.main-content6 p {
  padding: 40px 0;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 0;
}

.main-content6 p span {
  color: #ebb94d;
  line-height: 30px;
}

.main-content7 {
  width: 100%;
  height: 506px;
  text-align: center;
}

.main-content7 :first-child {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.6px;
  line-height: 44px;
  margin: 60px 0 35px 0;
}

.main-content7 :first-child span {
  font-size: 16px;
}

.main-content7 :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.3px;
  line-height: 32px;
  margin: 0 0 40px 0;
}

.main-content7 .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content7 .images :first-child {
  margin: 0 22px;
}

.main-content7 .images :nth-child(2) {
  margin: 0 22px;
}

.main-content7 .images :nth-child(3) {
  margin: 0 22px;
}

.main-content7 .images :nth-child(4) {
  margin: 0 22px;
}

.main-content7 :nth-child(4) {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 0;
}

.main-content8 {
  text-align: center;
  background-color: #fef5e0;
  padding: 40px 0 50px 0;
}

.main-content8 .massage2 {
  width: 860px;
  height: 112px;
  display: inline-block;
  position: relative;
}

.main-content8 .massage2::before, .main-content8 .massage2::after {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
}

.main-content8 .massage2::before {
  border-left: solid 4px #ebb94d;
  border-top: solid 4px #ebb94d;
  top: 0;
  left: 0;
}

.main-content8 .massage2::after {
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
  right: 0;
  bottom: 0;
}

.main-content8 .massage2 p {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.3px;
  margin: 0 0 0 0;
  padding: 0 50px;
}

.main-content8 .massage2 h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.5px;
  margin: 0 0 0 0;
}

.main-content8 .contents3-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.main-content8 .contents3-wrapper .contents3 {
  width: 360px;
  margin: 0 15.5px;
}

.main-content8 .contents3-wrapper .contents3 img {
  width: 360px;
  height: 180px;
}

.main-content8 .contents3-wrapper .contents3 h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #ebb94d;
  text-align: left;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.main-content8 .contents3-wrapper .contents3 p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.5px;
  padding: 0;
  text-align: left;
  letter-spacing: 1.5px;
}

.main-content8 .text {
  display: inline-block;
  margin: 40px auto 0;
  padding: 40px 0 40px 0;
  background-color: white;
  border: 2px solid #ebb94d;
  width: 1170px;
  max-width: 93%;
  border-radius: 5px;
}

.main-content8 .text h3 {
  font-size: 28px;
  color: #ebb94d;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1.5px;
}

.main-content8 .text :nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin: 10px 0 0 0;
  letter-spacing: 1.5px;
}

.main-content8 .text :nth-child(3) {
  font-size: 16px;
  font-weight: 600;
  line-height: 25.3px;
  margin: 10px 0 0 0;
  letter-spacing: 1.5px;
}

.main-content8 .text2 {
  margin: 40px 0 0 0;
  line-height: 22px;
  font-size: 14px;
}

.main-content9 {
  text-align: center;
  background-image: url(../img/4.jpg);
  background-size: cover;
  height: 1389px;
}

.main-content9 i {
  padding-top: 82px;
  margin: 0 0 32px 0;
  font-size: 28px;
  color: white;
  letter-spacing: 1.5px;
  line-height: 40px;
  font-weight: 500;
}

.main-content9 p {
  font-size: 16px;
  color: white;
  letter-spacing: 1.5px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 45px;
  margin-top: 0;
}

.main-content9 .contents4-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content9 .contents4-wrapper .contents4-block {
  font-size: 16px;
  width: 375px;
  margin: 0 14.5px 0;
  position: relative;
}

.main-content9 .contents4-wrapper .contents4-block img {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  position: absolute;
  bottom: 360px;
  right: 90px;
}

.main-content9 .contents4-wrapper .contents4 {
  margin-top: 163px;
  border: solid 3px white;
  height: 394px;
  width: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content9 .contents4-wrapper .contents4 p {
  padding: 43px 43px 0;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.main-content9 .contents4-wrapper .contents4 :nth-child(2) {
  margin-top: 10px;
  padding: 0;
}

.main-content9 .contents4-wrapper .contents4 :nth-child(3) {
  padding: 0 43px 0;
  margin-top: 10px;
  text-align: left;
}

.main-content9 .contents5-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content9 .contents5-wrapper .contents5-block {
  font-size: 16px;
  width: 375px;
  margin: 0 14.5px 0;
  position: relative;
}

.main-content9 .contents5-wrapper .contents5-block img {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  position: absolute;
  bottom: 330px;
  right: 90px;
}

.main-content9 .contents5-wrapper .contents5 {
  margin-top: 198px;
  border: solid 3px white;
  height: 366px;
  width: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content9 .contents5-wrapper .contents5 p {
  padding: 43px 43px 0;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.main-content9 .contents5-wrapper .contents5 :nth-child(2) {
  margin-top: 10px;
  padding: 0;
}

.main-content9 .contents5-wrapper .contents5 :nth-child(3) {
  padding: 0 43px 0;
  margin-top: 32px;
  text-align: left;
}

.main-content9 .contents5-wrapper .contents-5 {
  margin-top: 198px;
  border: solid 3px white;
  height: 366px;
  width: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content9 .contents5-wrapper .contents-5 p {
  padding: 43px 43px 0;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.main-content9 .contents5-wrapper .contents-5 :nth-child(2) {
  margin-top: 10px;
  padding: 0;
}

.main-content9 .contents5-wrapper .contents-5 :nth-child(3) {
  padding: 0 43px 0;
  margin-top: 10px;
  text-align: left;
}

.main-content10 {
  text-align: center;
  height: 190px;
  width: 100%;
  background-color: #ebb94d;
  padding: 40px 0 50px;
  position: relative;
}

.main-content10::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -26px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #ebb94d transparent transparent transparent;
  border-width: 26px 25px 0 25px;
}

.main-content10 p {
  color: #ebb94d;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 200;
  border-radius: 50%;
  background-color: white;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
}

.main-content10 .massage3 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: white;
  padding: 18px 147px;
  display: inline-block;
  position: relative;
  letter-spacing: 1.5px;
}

.main-content10 .massage3::before, .main-content10 .massage3::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
}

.main-content10 .massage3::before {
  border-left: solid 4px #ffffff;
  border-top: solid 4px #ffffff;
  top: 0;
  left: 0;
}

.main-content10 .massage3::after {
  border-right: solid 4px #ffffff;
  border-bottom: solid 4px #ffffff;
  right: 0;
  bottom: 0;
}

.white {
  height: 300px;
  width: 100%;
  background-color: white;
}

.main-content11 {
  padding: 40px 0 40px;
  text-align: center;
}

.main-content11 h3 {
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 0;
}

.main-content11 p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}

.main-content11 :nth-child(3) {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.5px;
  font-weight: 300;
  margin: 32px 0 10px 0;
}

.main-content11 .contents6-wrapper .contents6 {
  padding: 20px 0;
  margin: 0 auto;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content11 .contents6-wrapper .contents6 .contents6-left img {
  width: 241px;
  height: 241px;
  border: solid 2px #ebb94d;
  margin: 0 15px 0 0;
}

.main-content11 .contents6-wrapper .contents6 .contents6-right {
  margin-left: 15px;
}

.main-content11 .contents6-wrapper .contents6 .contents6-right :first-child {
  text-align: left;
  margin: 15px 0 0 0;
  color: #777;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-weight: 300;
}

.main-content11 .contents6-wrapper .contents6 .contents6-right :nth-child(2) {
  margin-top: 10px;
  font-size: 15.3px;
  text-decoration: underline;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #777;
  font-style: italic;
  font-weight: 300;
}

.main-content12 {
  padding: 60px 0 80px 0;
  width: 100%;
  height: 663px;
  background-image: url(../img/otya.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

.main-content12 h3 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 40px;
  margin: 0;
}

.main-content12 p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.main-content12 .contents7-wrapper {
  margin-top: 50px;
}

.main-content12 .contents7-wrapper ul {
  width: 371px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-content12 .contents7-wrapper .contents7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content12 .contents7-wrapper .contents7-left {
  font-size: 16px;
  color: black;
  margin: 0 15px 0 0;
  border: 2px solid #016ea9;
  border-radius: 5px;
}

.main-content12 .contents7-wrapper .contents7-left .text3 {
  font-size: 20px;
  color: white;
  background-color: #016ea9;
  line-height: 62px;
  border-bottom: none;
  padding: 0;
}

.main-content12 .contents7-wrapper .contents7-left .text4 {
  padding-top: 20px;
}

.main-content12 .contents7-wrapper .contents7-left .text5 {
  border-bottom: none;
}

.main-content12 .contents7-wrapper .contents7-left li {
  padding: 10.5px 0px 10.5px;
  border-bottom: dotted 1px #e5e5e5;
  background-color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.main-content12 .contents7-wrapper .contents7-right {
  margin: 0 0 0 15px;
  border: 2px solid #016ea9;
  width: 371px;
  height: 347px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
}

.main-content12 .contents7-wrapper .contents7-right .text3 {
  font-size: 20px;
  color: white;
  background-color: #016ea9;
  line-height: 62px;
  border-bottom: none;
  padding: 0;
}

.main-content12 .contents7-wrapper .contents7-right .text4 {
  padding-top: 20px;
}

.main-content12 .contents7-wrapper .contents7-right .text5 {
  border-bottom: none;
}

.main-content12 .contents7-wrapper .contents7-right li {
  padding: 10.5px 0px 10.5px;
  border-bottom: dotted 1px #e5e5e5;
  background-color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.main-content13 {
  background-color: #016ea9;
  text-align: center;
  margin: 0;
}

.main-content13 p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 32px;
  color: white;
  padding: 40px 0;
}

.main-content14 {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 60px;
}

.main-content14 p {
  line-height: 40px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 28px;
  margin: 0 0 50px 0;
}

.main-content14 .laptop {
  font-size: 1em;
}

.main-content14 .image1 {
  margin-bottom: 40px;
}

.main-content14 img {
  margin: 0;
  vertical-align: bottom;
}

.main-content14 .contents8-all {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fef5e0;
  width: 1170px;
  max-width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 35px;
  border-radius: 10px;
  color: #333333;
}

.main-content14 .contents8-all .contents8-1-right {
  margin-right: 20px;
  padding: 20px 20px 20px 42px;
}

.main-content14 .contents8-all .contents8-1-right img {
  vertical-align: bottom;
  margin: 0;
}

.main-content14 .contents8-all .contents8-1-right p {
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.main-content14 .contents8-all .contents8-1-left {
  text-align: left;
  padding-right: 5px;
}

.main-content14 .contents8-all .contents8-1-left p {
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0 20px;
}

.main-content14 .contents8-all .contents8-1-left :nth-child(2) {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px 0;
}

.main-content14 .contents8-all .contents8-1-left :nth-child(3) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

.main-content14 .contents8-all .contents8-2-right {
  padding-right: 30px;
  padding-top: 60px;
  padding-left: 31px;
}

.main-content14 .contents8-all .contents8-2-right img {
  vertical-align: bottom;
  margin: 0;
}

.main-content14 .contents8-all .contents8-2-right p {
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.main-content14 .contents8-all .contents8-2-left {
  text-align: left;
  padding-bottom: 2px;
  padding-right: 5px;
}

.main-content14 .contents8-all .contents8-2-left p {
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0 20px;
}

.main-content14 .contents8-all .contents8-2-left :nth-child(2) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

.main-content14 .contents8-all .contents8-2-left :nth-child(3) {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px 0;
}

.main-content14 .contents8-all .contents8-3-right {
  margin-right: 15px;
  padding: 20px 31px 20px 46px;
}

.main-content14 .contents8-all .contents8-3-right img {
  vertical-align: bottom;
  margin: 0;
}

.main-content14 .contents8-all .contents8-3-right p {
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.main-content14 .contents8-all .contents8-3-left {
  text-align: left;
  padding-right: 5px;
}

.main-content14 .contents8-all .contents8-3-left p {
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0 20px;
}

.main-content14 .contents8-all .contents8-3-left :nth-child(2) {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px 0;
}

.main-content14 .contents8-all .contents8-4-right {
  margin-right: 20px;
  padding: 20px 31px 20px 50px;
}

.main-content14 .contents8-all .contents8-4-right img {
  vertical-align: bottom;
  margin: 0;
}

.main-content14 .contents8-all .contents8-4-right p {
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.main-content14 .contents8-all .contents8-4-left {
  text-align: left;
  padding-right: 5px;
}

.main-content14 .contents8-all .contents8-4-left p {
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0 20px;
}

.main-content14 .contents8-all .contents8-4-left :nth-child(2) {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px 0;
}

.main-content14 .contents8-all .contents8-4-left :nth-child(3) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

.main-content14 .contents8-all .contents8-5-right {
  margin-right: 20px;
  padding: 20px 0 20px 25px;
}

.main-content14 .contents8-all .contents8-5-right img {
  vertical-align: bottom;
  margin: 0;
}

.main-content14 .contents8-all .contents8-5-right p {
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.main-content14 .contents8-all .contents8-5-left {
  text-align: left;
  padding-right: 5px;
}

.main-content14 .contents8-all .contents8-5-left p {
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0 20px;
}

.main-content14 .contents8-all .contents8-5-left :nth-child(2) {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px 0;
}

.main-content14 .contents8-all .contents8-5-left :nth-child(3) {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px 0;
}

.main-content15 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/bankoku.jpg);
  height: 497px;
  width: 100%;
  background-size: contain;
  padding: 0 100px 0 100px;
  color: white;
}

.main-content15 .contents9 {
  width: 800px;
}

.main-content15 h3 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-top: 100px;
  margin-bottom: 0;
  margin-top: 0;
}

.main-content15 p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content15 li {
  list-style: none;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  margin-top: 0;
}

.main-content15 ul {
  padding-left: 0;
}

.main-content15 h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 10px;
  margin-bottom: 0;
  right: 27.5%;
}

.main-content16 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7c23c;
  height: 705px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 60px 0 40px 0;
  position: relative;
}

.main-content16 h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 0;
}

.main-content16 .gift {
  color: black;
  font-size: 28px;
}

.main-content16 p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 139px;
}

.main-content16 span {
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.main-content16 h3 {
  position: absolute;
  width: 45%;
  font-size: 28px;
  line-height: 44.5px;
  margin: 0;
  background-color: #f7c23c;
  top: 233px;
  left: 27.5%;
  letter-spacing: 1.5px;
  font-weight: 600;
  z-index: 50;
}

.main-content16 .contents10-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 360px;
  border: solid 2px white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.main-content16 .contents10 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: white;
  margin: 48px 60px 58px;
}

.main-content16 .contents10 h4 {
  font-size: 24px;
  font-weight: 300;
  color: #ebb94d;
  line-height: 38px;
  margin-bottom: 10px;
  margin-top: 52px;
}

.main-content16 .contents10 p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}

.main-content17 {
  background-image: url(../img/3.jpg);
  background-size: cover;
  height: 446px;
  width: 100%;
  color: white;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
  padding: 40px 0 40px;
}

.main-content17 h3 {
  font-size: 28px;
  margin: 20px 0 20px;
  line-height: 44px;
}

.main-content17 p {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 0;
  line-height: 32px;
}

.main-content17 .massage4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 28px;
  padding: 14px 120px 14px;
  margin-bottom: 20px;
  margin-top: 0;
  display: inline-block;
  position: relative;
}

.main-content17 .massage4::before, .main-content17 .massage4::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
}

.main-content17 .massage4::before {
  border-left: solid 4px #ffffff;
  border-top: solid 4px #ffffff;
  top: 0;
  left: 0;
}

.main-content17 .massage4::after {
  border-right: solid 4px #ffffff;
  border-bottom: solid 4px #ffffff;
  right: 0;
  bottom: 0;
}

.main-content18 {
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 40px 0 74px;
}

.main-content18 h2 {
  margin-bottom: 35px;
  margin-top: 20px;
  font-size: 28px;
}

.main-content18 h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-content18 .contents11 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 890px;
}

.main-content18 .contents11 img {
  width: 192.5px;
  height: 144.5px;
  padding: 0 30px 0 15px;
}

.main-content18 .contents11 p {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  line-height: 22px;
}

.main-content18 .contents11 .contents11-right :nth-child(2) {
  margin-bottom: 35px;
  line-height: 22px;
}

.main-content18 .contents11 .contents11-right :nth-child(3) {
  margin-bottom: 35px;
  line-height: 22px;
}

.main-content19 {
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 60px 0 60px;
  background-color: #ebb94d;
}

.main-content19 h3 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 0;
}

.main-content19 p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 32px;
  margin-top: 0;
}

.main-content19 .contents12 {
  width: 60%;
  margin: 0 auto;
}

.main-content19 .contents12 input,
.main-content19 .contents12 textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-bottom: 25px;
  height: 55px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.main-content19 .contents12 .input3 {
  margin-bottom: 47px;
  width: 99%;
}

.main-content19 .contents12 #input4 {
  height: 100px;
  width: 99%;
  font-family: Meiryo;
  margin-bottom: 0;
}

.main-content19 .contents12 .button4 p {
  color: white;
  background-color: #da6b64;
  margin: 42px 0 0 0;
  line-height: 55px;
  height: 55px;
  width: 100%;
  display: inline-block;
  border-radius: 51px;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 10px;
}

.main-content20 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 60px 0 60px 0;
  width: 100%;
}

.main-content20 h3 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.main-content20 .contents13 {
  width: 76.8%;
  margin: 0 auto 5px;
}

.main-content20 .contents13 .accordion1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  border: solid 1px #e5e5e5;
  padding: 20px;
  text-align: left;
  position: relative;
  line-height: 22px;
}

.main-content20 .contents13 .accordion1::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  position: absolute;
  right: 27px;
  top: 19px;
}

.main-content20 .contents13 .accordion1 span {
  color: #016ea9;
}

.main-content20 .contents13 .accordion1 p {
  margin: 0;
}

.main-content20 .contents13 .accordion1 p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-content20 .contents13 .accordion1 p:focus {
  outline: none;
  text-decoration: underline;
}

.main-content20 .active::before {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  position: absolute;
  right: 27px;
  top: 26px;
  content: "";
}

.main-content20 .inner1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 20px 26px;
  border: 1px solid white;
  display: none;
}

.main-content20 .inner1 p {
  margin: 0;
  text-align: left;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 178.6px;
  width: 100%;
  padding: 40px 0 10px;
  background-color: #ececec;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.footer p {
  line-height: 16.5px;
  margin-bottom: 13px;
  margin-top: 0;
}

.footer a {
  color: #337ab7;
  text-decoration: none;
}

.footer a :visited {
  text-decoration: underline;
}

.footer .text6 {
  margin-top: 31px;
}

.footer .twitter-share-button {
  margin-right: 5px;
  margin-left: 2px;
  margin-top: 0.1px;
}

.footer .btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */